<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-6N6H7X6PNT"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-6N6H7X6PNT');
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>NMD | Viewer</title>
				<meta name="description" content="Some projects from my phototech." />
		<meta name="keywords" content="photography, nmd, image transition, image animation, gsap, modern, viewer" />
		<meta name="author" content="NMD" />
		<link rel="stylesheet" href="https://use.typekit.net/uoh2fuj.css">
		<link rel="icon" href="static/img/favicon-nmd.svg">
		<link rel="stylesheet" type="text/css" href="static/css/base.css" />
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this page in a modern browser that supports CSS Variables.");</script>
	</head>
	<body class="demo-8 loading">
		<main>
			<div class="frame">
				<div class="frame__title"> 
					<a href="/" class="frame__title-main">NMD — Images Viewer</a> 
				</div>
				<a href="https://www.instagram.com/alexxnmd/" target="_blank" class="frame__back">Instagram</a>
				<a href="https://www.linkedin.com/in/alexnmd/" target="_blank" class="frame__prev">Linkedin</a>
				<nav class="frame__demos">
					<span>Projects</span>
					<br><br>
					{% for project in projects %}
						{% if project == project_selected %}
							<a href="{{ project | lower }}" class="frame__demo frame__demo--current">{{ project }}</a>
						{% else %}
							<a href="{{ project | lower }}" class="frame__demo">{{ project }}</a>
						{% endif %}
					{% endfor %}
				</nav>
				<nav class="slides-nav">
					<button class="slides-nav__item slides-nav__item--prev">&larr;</button>
					<button class="slides-nav__item slides-nav__item--next">&rarr;</button>
				</nav>
			</div>
			<div class="slides">
				{% for image in images_availables %}
					{% if image.mobile_align %}
						<div class="slide">
							<div class="slide__img"
								style="background-position: '{{ image.mobile_align }} 50% !important'; background-image:url('static/img/projects/{{ project_selected }}/{{ image.name }}')">
							</div>
						</div>
					{% else %}
						<div class="slide">
							<div class="slide__img" style="background-image:url('static/img/projects/{{ project_selected }}/{{ image.name }}')"></div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</main>
		<script src="static/js/imagesloaded.pkgd.min.js"></script>
		<script src="static/js/gsap.min.js"></script>
		<script src="static/js/Observer.min.js"></script>
		<script type="module" src="static/js/index.js"></script>
	</body>
</html>
